---
import { Picture } from "astro:assets";
import heroImage from "assets/rizoma.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Instituto Rizoma de Saúde Integral"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Instituto Rizoma de Saúde Integral
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      O Instituto Rizoma de Saúde Integral oferece cuidado completo e personalizado,
       reunindo as especialidades de medicina da família, psiquiatria e psicologia.
        Nossa equipe multidisciplinar trabalha em conjunto para promover a saúde integral
         de cada paciente, considerando seus aspectos físicos, mentais, emocionais e sociais.
          Buscamos oferecer um tratamento individualizado que contribua para a qualidade
           de vida e o bem-estar global de todos que nos procuram.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        target="_blank"
        class="bg-rizoma-green flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxl-whatsapp" />

         Fale com a gente
      </Link>
    </div>
  </div>
</main>
