---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<div id="sobre" class="w-full py-8 bg-rizoma-bege" style="position: relative; z-index: 10;">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre nós</Fragment>
      <Fragment slot="desc">Acolhimento e cuidado para cada fase da sua jornada.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mt-16">
      <p class="text-lg leading-relaxed text-slate-900">
        O <strong>Instituto Rizoma de Saúde Integral</strong> é um espaço dedicado ao acolhimento e cuidado em saúde mental, com foco em
         um atendimento ético, multidisciplinar, qualificado e baseado em evidências científicas, artísticas e filosóficas.
        </p>
      <p class="text-lg leading-relaxed text-slate-900">
        Acreditamos na importância de integrar diferentes saberes para proporcionar um cuidado realmente abrangente e
        ajustado às necessidades de cada pessoa.       </p>
      <p class="text-lg leading-relaxed text-slate-900">
        Nossa equipe multidisciplinar é composta por profissionais de psicologia, psiquiatria, medicina de família e
        outras especialidades parceiras que trabalham de forma conjunta para garantir o cuidado atento, constante e humanizado.
      </p>
    </div>
  </Container>
</div>